<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023095960523-t3fhthflro6m25sq4l7fo9o46pc6vbh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023095960523-t3fhthflro6m25sq4l7fo9o46pc6vbh2</string>
	<key>API_KEY</key>
	<string>AIzaSyD3kN2I_F5USHqdTHjNS--dPYBPCcx11Gk</string>
	<key>GCM_SENDER_ID</key>
	<string>1023095960523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoes</string>
	<key>PROJECT_ID</key>
	<string>foot-fetish-9a250</string>
	<key>STORAGE_BUCKET</key>
	<string>foot-fetish-9a250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023095960523:ios:35f67ee8c7cea47773fc4e</string>
	<key>DATABASE_URL</key>
	<string>https://foot-fetish-9a250-default-rtdb.firebaseio.com</string>
</dict>
</plist>